<!DOCTYPE html>
<html>
<head>
    <title>Sports</title>
</head>
<body>
    <div class="container">
        <h1>Sports Information</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'academics' %}">Academics</a></li>
                <li><a href="{% url 'sports' %}">Sports</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
            </ul>
        </nav>
        
        <h2>Available Sports</h2>
        <ul>
            <li>Basketball</li>
            <li>Football</li>
            <li>Cricket</li>
            <li>Athletics</li>
        </ul>
    </div>
</body>
</html>